#include <winver.h>
#include "KnLiveDbgVersion.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION KN_LIVE_DBG_VERSION_MAJOR,KN_LIVE_DBG_VERSION_MINOR,KN_LIVE_DBG_VERSION_PATCH,KN_LIVE_DBG_VERSION_BUILD
 PRODUCTVERSION KN_LIVE_DBG_VERSION_MAJOR,KN_LIVE_DBG_VERSION_MINOR,KN_LIVE_DBG_VERSION_PATCH,KN_LIVE_DBG_VERSION_BUILD
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "kernullist"
            VALUE "FileDescription", "KnLiveDbg probe driver"
            VALUE "FileVersion", KN_LIVE_DBG_VERSION_TEXT
            VALUE "InternalName", "KnLiveDbgProbe.sys"
            VALUE "LegalCopyright", "kernullist"
            VALUE "OriginalFilename", "KnLiveDbgProbe.sys"
            VALUE "ProductName", "KnLiveDbg"
            VALUE "ProductVersion", KN_LIVE_DBG_VERSION_TEXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
